:root {
    --deep: black;
    --light: white;
}
* {
    margin: 0;
}

@font-face {
    font-family: "iceland";
    src: url(Iceland-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "clash";
    src: url(ClashDisplay-Regular.otf) format("truetype");
}

@font-face {
    font-family: "canopee";
    src: url(Canopee\ Regular.otf) format("truetype");
}


body {
    background: linear-gradient(
    to top right,
    rgba(4, 9, 25, 1),      /* deep midnight navy */
    rgba(10, 20, 45, 0.95), /* richer blue shadow */
    rgba(15, 35, 70, 0.85), /* soft blended blue */
    rgba(30, 60, 110, 0.70) /* subtle fade highlight */
);
background-attachment: fixed;


}

/* Header Section */

nav a {
    text-decoration: none;
    color: #000000;
}
nav {
    width: 50%;
    height: 50px;
    border-radius: 8px;
    box-shadow: 4px 6px 8px rgb(00, 00, 00, 0.2);
    background-color: white;
    margin: 30px auto 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}


.header {
    font-size: 30px;
    color: black;
    font-weight: 400;
    margin-left: 25px;
    animation: letterExpand 0.8s ease forwards;
    font-family: iceland;
}

.mlogo {
    display: none;
    font-family: "iceland", sans-serif;
}

@keyframes letterExpand {
    0% {
        opacity: 0;
        letter-spacing: 0.1px;
        filter: blur(6px);
    }
    100% {
        opacity: 1;
        letter-spacing: 0;
        filter: blur(0);
    }
}

@keyframes fadeBlur {
    0% {
        opacity: 0;
        transform: translateY(10px);
        filter: blur(6px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.social a {
    display: inline-block;
    text-decoration: none;
    color: var(--deep);
    font-size: 24px;
    margin-right: 60px;
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
    filter: blur(6px);
    animation: fadeBlur 0.8s ease forwards;
}



.social a:nth-of-type(1):hover {
    color: #EC5E95;
    transform: scale(1.2);
}
.social a:nth-of-type(2):hover {
    color: #0057FF;
    transform: scale(1.2);
}
.social a:nth-of-type(3):hover {
    color: #000000;
    transform: scale(1.3);
}

/* Main */
.container {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 12.5%;
    height: 10%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: -4px 4px 8px rgb(00, 00, 00, 0.2);
    text-align: center;
    font-size: 24px;
    margin: 15px;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
    font-family: iceland;
    opacity: 0;
    transform: translateY(2px);
    animation: softAppear 0.6s ease forwards;
}

.right {
    width: 12.5%;
    height: 10%;
    padding: 20px;
    box-shadow: -4px 4px 8px rgb(00, 00, 00, 0.2);
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    margin: 15px;
    background-color: aquamarine;
    transition: 0.4s;
    cursor: pointer;
    font-family: iceland;
    opacity: 0;
    transform: translateY(2px);
    animation: softAppear 0.6s ease forwards;
}

@keyframes softAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.right:hover {
    background-color: aqua;
    transform: scale(1.1);
    
}

.left a {
    text-decoration: none;
    color: #011502;
}

.left:hover {
    background-color: whitesmoke;
    transform: scale(1.1);
}

.right a {
    text-decoration: none;
    color: #011502;
}


.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transform: translateY(25px);
    animation: rise 0.8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes rise {
    to {
         opacity: 1;
    transform: translateY(0);
    }
}

.fonts {
    width: 8%;
    height: 10%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 20px 50px;
    box-shadow: 0px 4px 10px rgb(00, 00, 9, 0.2);
    background-color: white;
    transition: 0.4s;
    border-radius: 4px;
}


.fonts:hover {
    background-color: aqua;
    color: black;
}

.floating1 {
    width: 200px;
    height: 200px;
    color: black;
    background-color: aliceblue;
    box-shadow: 4px 8px 12px rgb(00, 00, 9, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 70px;
    left: 100px;
    border: 2px solid aliceblue;
    padding: 15px;
    z-index: -1;
    display: none;

}

.floating1 p {
    color: black;
    font-size: 18px;

}

.floating2 {
    width: 200px;
    height: 200px;
    color: black;
    background-color: aliceblue;
    box-shadow: 4px 8px 12px rgb(00, 00, 9, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 100px;
    right: 100px;
    border: 2px solid aliceblue;
    padding: 10px;
    z-index: -1;
    display: none;

}

/* DOWNLOAD ICON */

.bg {
    border-radius: 50%;
    background-color: #EDEDED;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.bg:hover {
    background-color: #eee;
}


.icon1{
    width: 22px;
    height: 22px;
    filter: brightness(0); 
    cursor: pointer;
    transition: 0.6s;   
}


.icon1 {
  filter: brightness(0) 
}

.bg:active {
    background-color: aquamarine; /* soft eye-catching mint */
}

.bg:active .icon1 {
  filter: brightness(0) saturate(100%) invert(75%) sepia(50%) saturate(600%) hue-rotate(65deg);
}

/* FONT DECORATION */
.cormorant {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 15px;
}

.epilogue {
    font-family: "Epilogue", sans-serif;
    font-size: 15px;
}

.fraunces {
    font-family: "Fraunces", sans-serif;
    font-size: 15px;
}

.cardo {
    font-family: "Cardo" sans-serif;
    font-size: 18px;
}

.sora {
    font-family: "sora", sans-serif;
    font-size: 15px;
}

.clash {
    font-family: "clash", sans-serif;
    font-size: 15px;
}

.redhat {
    font-family: "Red Hat Display", sans-serif;
    font-size: 15px;
}

.gloock {
    font-family: "Gloock", sans-serif;
    font-size: 15px;
}

.canopee {
    font-family: "canopee", sans-serif;
    font-size: 15px;
}

.spectral {
    font-family: "Spectral", sans-serif;
    font-size: 15px;
}

.jost {
    font-family: "Jost", sans-serif;
    font-size: 18px;
}

.bodoni {
    font-family: "Bodoni Moda", sans-serif;
    font-size: 15px;
}

.quat {
    font-family: "Quattrocento", sans-serif;
    font-size: 15px;
}

.archivo {
    font-family: "Archivo Black", sans-serif;
    font-size: 15px;
}

.unna {
    font-family: "Unna", sans-serif;
    font-size: 18px;
}


.bellefair {
    font-family: "Bellefair", sans-serif;
    font-size: 18px;
}

.domine {
    font-family: "Domine", sans-serif;
    font-size: 16px;
}

.news {
    font-family: "Newsreader", sans-serif;
    font-size: 16px;
}

.space {
    font-family: "Space Grotesk", sans-serif;
    font-size: 14.5px;
}

.urban {
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
}

/*Media Query for Mobile */
@media (max-width: 600px) {
    .floating1, .floating2 {
        display: none;
    }
    nav {
        width: 300px;
        height: 50px;
        border-radius: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    .header a { 
      display: none;

    }

    .social a {
    display: inline-block;
    text-decoration: none;
    color: var(--deep);
    font-size: 20px;
    margin-right: 17px;
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
    filter: blur(6px);
    animation: fadeBlur 0.8s ease forwards;
   
    }

    .mlogo {
        display: flex;
        border-left: 5px solid aqua;
        border-radius: 1%;
        padding: 5px;
        font-size: 23px;
        margin-right: 55px;
        transition: 0.3s; 
    }

    .left {
    width: 33%;
    height: 10%;
    padding: 20px;
    border-radius: 7px;
    box-shadow: -4px 4px 8px rgb(00, 00, 00, 0.2);
    text-align: center;
    font-size: 24px;
    margin: 8px 10px;
    transition: 0.3s;
     opacity: 0;
    transform: translateY(2px);
    animation: softAppear 0.6s ease forwards;
   
}

.right {
    width: 25%;
    height: 10%;
    padding: 20px;
    box-shadow: -4px 4px 8px rgb(00, 00, 00, 0.2);
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
    margin: 8px 10px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(2px);
    animation: softAppear 0.6s ease forwards;
    animation-delay: 0.04s;
}

.fonts {
    width: 75%;
    height: 10%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px 20px 50px;
    box-shadow: 0px 4px 10px rgb(00, 00, 9, 0.2);
    transition: 0.4s;
    font-size: 20px;
    color: black;
    border-radius: 4px;
    background-color: white; 
}

/* DOWNLOAD ICON */

.bg {
    border-radius: 50%;
    background-color: #EDEDED;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.bg:hover {
    background-color: eee;
}

.icon1 {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    filter: brightness(0); 
    cursor: pointer;
    transition-duration: 5s;
}
}

/* Media Query For Tablets */
@media (min-width: 601px) and (max-width: 1100px) {
    nav {
        width: 550px;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }

    .header a { 
      display: none;

    }

    .social a {
    display: inline-block;
    text-decoration: none;
    color: var(--deep);
    font-size: 32px;
    margin-right: 25px;
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
    filter: blur(6px);
    animation: fadeBlur 0.8s ease forwards;
   
    }

     .mlogo {
        display: flex;
        border-left: 7px solid aqua;
        border-radius: 1%;
        padding: 5px;
        font-size: 35px;
        margin-right: 295px;
        transition: 0.3s;
    
    }

     .left {
    width: 30%;
    height: 10%;
    padding: 20px;
    border-radius: 7px;
    box-shadow: -4px 4px 8px rgb(00, 00, 00, 0.2);
    text-align: center;
    font-size: 38px;
    margin: 8px 10px;
    transition: 0.3s;
     opacity: 0;
    transform: translateY(2px);
    animation: softAppear 0.6s ease forwards;
   
}

.right {
    width: 25%;
    height: 10%;
    padding: 20px;
    box-shadow: -4px 4px 8px rgb(00, 00, 00, 0.2);
    border-radius: 7px;
    text-align: center;
    font-size: 38px;
    margin: 8px 10px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(2px);
    animation: softAppear 0.6s ease forwards;
    animation-delay: 0.04s;
}

.fonts {
    width: 75%;
    height: 10%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px 20px 50px;
    box-shadow: 0px 4px 10px rgb(00, 00, 9, 0.2);
    transition: 0.4s;
    font-size: 30px;
    color: black;
    border-radius: 4px;
    background-color: white; 
}


/* DOWNLOAD ICON */

.bg {
    border-radius: 50%;
    background-color: #EDEDED;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.bg:hover {
    background-color: eee;
}

.icon1 {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    filter: brightness(0); 
    cursor: pointer;
    transition-duration: 5s;
}

 .floating1, .floating2 {
        display: none;
    }

}

